:root {
  --bg:      #1a1b26;
  --fg:      #a9b1d6;
  --black:   #32344a;
  --red:     #f7768e;
  --green:   #9ece6a;
  --yellow:  #e0af68;
  --blue:    #7aa2f7;
  --magenta: #ad8ee6;
  --cyan:    #449dab;
  --white:   #787c99;
  
  line-height: 1.6;
  font-size: 1.15rem;
  font-family: monospace;

  color: var(--fg);
  background-color: var(--bg);
}

a {
  color: var(--blue);
  text-decoration: 2px solid underline var(--blue);
  font-weight: bold;
}

hr {
  color: var(--black);
}

body {
  margin: 40px auto;
  max-width: 70ch;
  padding: 0;
}

code {
  background-color: var(--black);
  color: var(--yellow);
  padding: 2px;
}

h1, h2, h3 {
  line-height: 1.2;
}

time {
  font-style: italic;
}

